<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>

    <link rel="stylesheet" type="text/css" href="../static/themes/color.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/common/icon.css"/>
    <link rel="stylesheet" type="text/css" href="../static/themes/material-teal/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>

    <script type="text/javascript" src="../static/js/common/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="../static/js/common/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>

</head>
<body>
<body class="easyui-layout">
<div data-options="region:'north',split:true,collapsible:false,border:false" class="north">
    <div class="north-left">
        <!--<img src="../static/imgs/index.png" height="46" width="auto"/>-->
        <h2>CIS</h2>
    </div>

    <div class="north-right">
        <p class="welcome"><strong>x xx</strong>，欢迎您！</p>
        <p class="options"><a onclick="resetPassword()">修改密码</a>|<a onclick="exit()">安全退出</a>|<a onclick="about()">关于系统</a></p>
    </div>

</div>

<div data-options="region:'south',split:true,collapsible:true,border:true" class="south">
    &copy; 2018 All Rights Reserved
</div>

<div data-options="region:'west',title:'导航菜单',iconCls:'icon-large-clipart',split:true,border:true" class="west">
    <div class="easyui-accordion" data-options="split:true,fit:true,border:false">

        <div title="&nbsp;&nbsp;页面管理" data-options="iconCls:'icon-table-multiple'" style="overflow:auto;padding:10px;">
            <ul class="easyui-tree trees" data-options="animate:true">
                <li iconCls="icon-building"><a href="javascript:void(0)" data-icon="icon-building" data-link="/home.html" iframe="1">首页</a></li>
                <li iconCls="icon-building"><a href="javascript:void(0)" data-icon="icon-building" data-link="/formApply.html" iframe="1">表单申请</a></li>
                <li iconCls="icon-application-view-detail"><a href="javascript:void(0)" data-icon="icon-application-view-detail" data-link="/formInfoDetail.html" iframe="1">表单信息详情</a></li>
            </ul>
        </div>

    </div>
</div>

<div data-options="region:'center',border:true" class="center">
    <div id="tabs" class="easyui-tabs" data-options="border:false,fit:true">
        <div id="menu" class="easyui-menu">
            <div id="close-current" data-options="iconCls:'icon-cancel'">关闭当前</div>
            <div id="close-other" data-options="iconCls:'icon-cancel'">关闭其他</div>
            <div id="close-all" data-options="iconCls:'icon-delete3'">关闭所有</div>
        </div>
    </div>
</div>


<div id="reset-password-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save,striped:true'">
    <form method="post" id="form-reset-password">
        <table>
            <tr>
                <td width="60" align="right" style="color: #afafaf;">旧密码:&nbsp;&nbsp;</td>
                <td><input type="password" class="easyui-textbox" id="old_pwd" required="required" data-options="validType:'old_pwd'"/></td>
            </tr>

            <tr>
                <td align="right" style="color: #000;">新密码:&nbsp;&nbsp;</td>
                <td><input type="password" class="easyui-textbox" id="new_pwd" required="required" data-options="validType:'new_pwd'"/></td>
            </tr>
            <tr>
                <td align="right" style="color: #000;">新密码:&nbsp;&nbsp;</td>
                <td><input type="password" class="easyui-textbox" id="again_new_pwd" required="required" data-options="validType:'again_new_pwd'"/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</body>
</html>