<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../static/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/common/lodingtip.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>


    <script type="text/javascript" src="../static/js/common/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="../static/js/common/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/common/lodingtip.js"></script>
    <script type="text/javascript" src="../static/js/login.js"></script>
</head>

<body>
<div class="datagrid-mask-msg"></div>
<canvas id="canvas"></canvas>
<div id="login">
    <!--<h1>对账系统</h1>-->
    <!--<img src="../static/imgs/logo.png"/>-->
    <form id="log-form">
        <div class="log-tip">
            <div class="tip"></div>
        </div>
        <input type="text" id="username" class="easyui-validatebox tb" placeholder="用户名" autocomplete="off"/>
        <input type="password" id="password" class="easyui-validatebox tb" placeholder="密  码" autocomplete="off"/>
        <button class="btn-login" type="button">登 录</button>
    </form>
</div>
<!-- 背景星空图 -->
<script type="text/javascript" src="../static/js/common/starscloud.js"></script>
</body>

</html>
