<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oa.cis.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.oa.cis.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="CHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <!-- 根据用户名和密码查询 -->
    <select id="selectUserameAndPassWord" resultType="java.lang.Integer" parameterType="string">
        SELECT COUNT(1)
        FROM cis_user cu
        WHERE cu.username = #{username,jdbcType=VARCHAR} AND cu.password = #{password,jdbcType=VARCHAR}
    </select>

    <!--根据用户名查询密码-->
    <select id="selectPasswordByUsername" resultType="string" parameterType="string">
        SELECT cu.password
        FROM cis_user cu
        WHERE cu.username = #{username,jdbcType=VARCHAR}
    </select>

    <!-- 用户注册 -->
    <insert id="insertUserInfo" parameterType="com.oa.cis.vo.UserVo">
        insert into cis_user (username,password,sex,phone,email,role,create_time,update_time)
        values
        (#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
        #{sex,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR},#{role,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
    </insert>


    <!--根据用户名修改密码-->
    <update id="updatePasswordByUsername" parameterType="string">
        update cis_user
        set password = #{password,jdbcType=VARCHAR}
        where username = #{username,jdbcType=INTEGER}
    </update>

</mapper>